.account-form-json {
  margin-top: 4em;
}

.restore-wallet-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.restore-wallet-description {
  font-size: 1.2rem;
  text-align: center;
}

.restore-wallet-item {
  display: flex;
  width: 500px;
}

.restore-wallet-details-title,
.restore-wallet-details-content {
  padding: 15px;
  background: rgba(var(--color-light-green), 0.2);
  word-break: break-word;
  border-radius: 10px;
}

.restore-wallet-details-title {
  margin-right: 10px;
  width: 25%;
}

.restore-wallet-details-content {
  flex-grow: 1;
}

.restore-upload-button {
  margin-top: 1rem;
}

.restore-file-submit-icon {
  margin-left: 10px;
}

.restore-file-submit-button:hover:not(:disabled) .restore-file-submit-icon {
  animation: moveArrowRight 0.3s ease-in-out;
}
