.title {
  font-size: var(--font-size-5xl);
  font-weight: 700;
  text-align: center;
  color: var(--be-text-0);
}

.description {
  font-size: var(--font-size-lg);
  text-align: center;
  color: var(--be-text-2);
  line-height: 1.5;
}

.iconCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgb(var(--mojito-green-50));
  margin: 0 auto;
}

.checkIcon {
  width: 40px;
  height: 40px;
  color: rgb(var(--mojito-green));
}
