.drawingBoard {
  position: relative;
  display: flex;
  align-items: center;
  width: 50%;
  height: 238px;
  padding: 0 5px;
  border: 1px solid rgb(var(--color-black));
  border-radius: 30px;
}

.drawingBoardStage {
  width: 100%;
  height: 100%;
}

.layer {
  width: 100%;
  height: 100%;
}

.clearButton {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 12px;
  padding: 0;
  width: 75px;
  height: 25px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgb(var(--color-black));
}

.clearButton svg {
  width: 11px;
  height: 11px;
  margin-right: 5px;
}
