button {
  background-color: transparent;
  border: none;
}

.carousel {
  display: flex;
  height: 12rem;
  padding: 1px;
}

.back {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 87%,
    rgba(255, 255, 255, 0) 100%
  );
  cursor: pointer;
  margin-right: -0.5rem;
  width: 5rem;
}

.back,
.next {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.back:hover,
.next:hover {
  transform: scale(1.3);
}
.back:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}
.back:disabled,
.next:disabled {
  transform: scale(1);
}
.back-icon {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  width: 2rem;
  height: 2rem;
}

.slides {
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  width: 36rem;
}

.mid .slides {
  width: 25rem;
}

.small .slides {
  width: 12rem;
}

.mid .back,
.mid .next,
.small .back,
.small .next {
  display: none;
}

.wrapper {
  overflow: initial;
  height: 100%;
  display: flex;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
}

.item-wrapper {
  position: relative;
}

.button-account {
  padding: 0.5rem;
  border-radius: 0.75rem;
  margin-right: 0.75rem;
  display: flex;
  width: 12rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  word-wrap: anywhere;
}

.item-wrapper:hover .button-account {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-green), var(--nearly-opaque-alpha));
}

.item-wrapper:hover .button-account {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-green), var(--nearly-opaque-alpha));
}

.current {
  border-width: 1px;
}

.selected {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-green), var(--nearly-opaque-alpha));
}

.unselected {
  color: rgb(var(--text-black));
  background-color: rgb(var(--color-extra-light-gray));
}

.next {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 13%,
    rgba(255, 255, 255, 1) 100%
  );
  cursor: pointer;
  margin-left: -0.5rem;
  width: 5rem;
}
.next:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.next-icon {
  width: 2rem;
  height: 2rem;
}

.delete-button {
  display: none;
  position: absolute;
  top: 6px;
  right: 17px;
  width: 20px;
  height: 20px;
  background-color: rgb(var(--color-extra-light-gray));
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-button:hover {
  width: 22px;
  height: 22px;
  font-size: 0.8rem;
}

.delete-button:hover .button-account {
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-green), var(--nearly-opaque-alpha));
}

.item-wrapper:hover .delete-button {
  display: block;
  font-size: 0.7rem;
}
