.pageWrapper {
  background: rgb(var(--color-white));
  flex-direction: row;
  padding: 0;

  @media screen and (min-width: 901px) {
    padding: 0;
  }
}

.page {
  display: flex;
  flex: 1;
  padding: var(--space-lg);

  @media screen and (min-width: 901px) {
    padding: var(--space-4xl);
  }
}
