.content {
  margin-top: 2.5rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.loading-big {
  width: 190px;
  height: 190px;
}

.loading-big::after {
  width: 160px;
  height: 160px;
  border: 15px solid #fff;
  border-color: rgb(var(--color-main-green)) transparent rgb(var(--color-black))
    transparent;
}

.loadingText {
  margin-bottom: 60px;
  font-size: 24px;
  font-weight: 400;
  color: rgb(var(--color-black));
}

.login-button-icon {
  width: 13px;
  height: 13px;
  max-width: 13px;
  max-height: 13px;
  margin-left: 10px;
}

.login-password-submit:hover .login-button-icon {
  animation: moveArrowRight 0.3s ease-in-out;
}
