.staking-title {
  font-size: 24px;
  font-weight: 600;
}

.total-staked {
  font-size: 18px;
}

.staking-title-wrapper {
  margin: 30px 0 0;
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.delegation-button {
  margin-top: 10px;
}

.main-info {
  overflow: visible;
}

.guide-wraper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow: visible;
}

.pool-list-icon {
  width: 13px;
  height: 13px;
  max-width: 13px;
  max-height: 13px;
  margin-left: 10px;
}

.delegation-inactive {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  padding: 2px 5px;
  border-radius: 5px;
  background: #ffc680;
  text-align: center;
  cursor: pointer;
}

.delegation-inactive:hover {
  background: #ff9f00;
}

.pool-button:hover .pool-list-icon {
  animation: moveArrowUpRight 0.3s ease-in-out;
}
