.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: rgb(var(--color-white));
  border-radius: 16px;
  gap: var(--space-3xs);
  min-height: max-content;
  padding: var(--space-xl) var(--space-2xl);
  color: rgb(var(--color-black));
  box-shadow: none;
}

@media screen and (min-width: 901px) {
  .form {
    gap: var(--space-md);
    padding: var(--space-3xl) var(--space-5xl);
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.label {
  font-size: var(--font-size-sm);
  font-weight: 600;
  letter-spacing: 0.8px;
  color: rgba(var(--color-light-green), 1);
  text-transform: uppercase;
  padding-left: var(--space-3xs);
}

.inputsWrapper {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.amountInput {
  width: 32%;
  height: 100%;
  padding: var(--space-md) var(--space-lg);
  font-size: var(--font-size-2xl);
  font-weight: 700;
  border-radius: 36px;
  border: 1px solid rgba(var(--color-black), 0.08);
  background: rgb(var(--color-white));
  color: rgb(var(--color-black));
}

.amountInput:focus {
  outline: none;
  border: 1px solid rgba(var(--color-light-green), 0.5);
}

.amountInput:hover {
  outline: none;
  border: 1px solid rgba(var(--color-light-green), 0.5);
}

.amountInput::-webkit-outer-spin-button,
.amountInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amountInput[type='number'] {
  appearance: textfield;
}

.balance {
  color: rgba(var(--color-black), 0.35);
  padding-left: var(--space-lg);
  font-size: var(--font-size-md);
}

.arrowRow {
  display: flex;
  justify-content: center;
  padding: var(--space-3xs) 0;
}

.arrowIcon {
  width: 20px;
  height: 20px;
}

/* Arrow button */
.arrowButton {
  cursor: default;
  padding: 0;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: rgba(var(--color-main-green), 1);
}

.arrowButton:hover {
  background: rgba(var(--color-main-green), 0.85);
}

.arrowButton svg path {
  stroke: rgb(var(--color-white));
}

.arrowButton:hover svg path {
  stroke: rgb(var(--color-white));
}

/* Find orders button */
.findButton {
  width: 32%;
  height: 50px;
  font-weight: 600;
  font-size: var(--font-size-lg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);
  border-radius: 36px;
}

.findButton:hover svg path {
  stroke: unset;
}

.findOrderIcon {
  width: 18px;
  height: 18px;
  min-width: 18px;
  max-width: 18px;
  max-height: 18px;
}

.findButton:hover .findOrderIcon {
  animation: moveArrowRight 0.3s ease-in-out;
}
