.nftPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 12px;
}

.pageTitle {
  font-size: var(--font-size-lg);
  font-weight: 700;
  color: var(--be-text-0);
  margin: 6px 0 0;
}
