.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: max-content;
}

.title {
  font-size: 1.4rem;
  font-weight: bold;
}

.modeToggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modeLabel {
  font-weight: 500;
  font-size: 14px;
  color: rgba(var(--color-black), 0.6);
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex-grow: 1;
  min-height: 0;
}

@media screen and (min-width: 801px) {
  .content {
    gap: 15px;
  }
}
