.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: max-content;
}

.title {
  font-size: var(--font-size-3xl);
  font-weight: bold;
}

.modeToggle {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.modeLabel {
  font-weight: 500;
  font-size: var(--font-size-md);
  color: var(--be-text-2);
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--space-3xs);
  flex-grow: 1;
  min-height: 0;
}

@media screen and (min-width: 901px) {
  .content {
    gap: var(--space-lg);
  }
}
