.address-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.address-page-header-receive {
  display: flex;
  align-items: center;
  gap: 12px;
}

.address-search-input {
  width: 40%;
  padding: 10px 16px;
  border-radius: 36px;
  border: 1px solid #e0e0e0;
  background: transparent;
  color: #222;
  font-size: 16px;
}

.qr-button-receive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  padding: 6px;
  border-radius: 11px;
}
