.words-list-description {
  font-size: var(--font-size-3xl);
  margin-bottom: var(--space-xl);
}

.words-list-description:nth-child(2) {
  font-size: var(--font-size-3xl);
  margin: 0;
}

.word-list-highlighted {
  color: rgb(var(--mojito-green));
  font-size: var(--font-size-3xl);
  margin: 0;
}
