.option-buttons {
  display: flex;
  width: 100%;
}

.option-button {
  display: flex;
  color: rgb(var(--text-black));
  background-color: rgb(var(--color-extra-light-gray));
  font-size: 1.25rem;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
}

.option-button.alternate {
  border: none !important;
  font-weight: bold;
  color: rgb(var(--color-white));
  background-color: rgb(var(--color-green));
}

.option-button.alternate:hover {
  border: none;
}

.option-buttons-column {
  flex-direction: column;
}

.option-buttons-column .option-button {
  margin-bottom: 0.3rem;
}
