.tabs {
  display: flex;
  margin: 20px 0;
  border-radius: 4px;
}

.message-tabs-button {
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  background: #f0f0f0;
  width: 50%;
  border-radius: 0%;
  color: rgb(var(--color-black));
  font-size: 18px;
}

.message-tabs-button.active {
  background: rgb(var(--color-green));
  color: rgb(var(--color-white));
}

.tab-content {
  background: #fff;
  height: 362px;
  overflow: auto;
}
