.logoContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 117px;
}

.logoContainer .logo {
  width: 30px;
  height: 30px;
  margin: 0;
}

.logoContainer .mojitoLettering {
  font-size: 1.5rem;
  color: rgb(var(--color-black));
}

.logoContainer .mojitoLettering .testnetMark {
  font-size: 1.5rem;
  color: rgb(var(--color-orange));
}

.testnetMessage {
  position: absolute;
  bottom: -2px;
  right: -1px;
  display: flex;
  align-items: center;
  color: rgb(var(--color-orange));
  border-radius: 20px;
  font-size: 0.55rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}
