.transaction-details {
  width: 100%;
  height: 100%;
  max-width: 510px;
  height: 466px;
}

.transaction-details-items-wrapper {
  height: 336px;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

.transaction-details-item {
  margin-bottom: 1.5rem;
}

.transaction-details-item h2 {
  margin-bottom: 8px;
  font-size: 1.5rem;
  font-weight: 400;
}

.transactionDeyItemContent {
  font-size: 1.5rem;
  font-weight: 600;
}

.details-date-amount {
  display: flex;
}

.details-date-amount .transaction-details-item:nth-child(1) {
  margin-right: 3.5rem;
}

.transaction-details-button {
  margin-top: 1.3rem;
}
