.account-form {
  margin-top: 4em;
}

.account-form-words {
  margin-top: 0;
}

.account-form-description {
  margin-top: 204px;
}

.account-form-address-type {
  margin-top: 2.5em;
}

.account-input {
  padding: 1.2rem 1.7rem;
}

.words-description {
  font-size: 24px;
  text-align: center;
}

.walletTypeTopTitle {
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}

.walletTypeBottomTitle {
  font-size: 0.8rem;
}

.address-type-button {
  padding: 0.9rem 0;
}

.restore-submit-icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.restore-mnemonic-submit-button:hover .restore-submit-icon {
  animation: moveArrowRight 0.3s ease-in-out;
}
