.stats {
  display: flex;
  margin-bottom: 1.5rem;
  min-height: max-content;
  justify-content: center;
  align-items: center;
  gap: 55px;
  min-height: max-content;

  @media screen and (min-width: 801px) {
    margin-bottom: 2.75rem;
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
