.stats {
  display: flex;
  margin-bottom: 1.5rem;
  min-height: max-content;
  justify-content: center;
  align-items: center;
  gap: 55px;
  min-height: 224px;

  @media screen and (min-width: 801px) {
    margin-bottom: 2.75rem;
  }
}
