.inputLabel {
  color: rgb(var(--color-dark-gray));
  display: block;
}

.inputLabel.alternate {
  font-size: 1.5rem;
  text-align: center;
}

.inputLabel.alternate strong {
  font-size: 1.5rem;
  display: block;
  color: rgb(var(--color-black));
}
