.settings-delete {
  display: flex;
  align-items: center;
}

.delete-description {
  max-width: 90%;
  margin: 0 auto;
}

.settings-delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  padding: 1rem 0;
  background: rgb(var(--color-red));
}

.icon-bin {
  width: 30px;
  height: 30px;
  fill: rgb(var(--color-white));
}
