.manual-swap {
  display: flex;
  width: 100%;
}

.order-swap-title {
  font-size: var(--font-size-4xl);
  font-weight: bold;
  margin-bottom: var(--space-lg);

  @media screen and (min-width: 901px) {
    margin-bottom: var(--space-4xl);
  }
}

.order-swap-form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  width: 100%;
}

.swap-order-input {
  padding: var(--space-lg);
}

.swap-order-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
