header {
  position: relative;
  margin-bottom: 20px;
}

.backButton {
  height: 34px;
  width: 34px;
  padding: 0.2rem;
  position: absolute;
  top: 0.5rem;
  left: 0;
  background-color: transparent !important;
}

.backButton svg {
  width: 100%;
  height: 100%;
}

.backButton:hover svg path,
.backButton:focus svg path {
  stroke: rgb(var(--color-black));
  opacity: 0.6;
}

.logout {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.header-menu-button {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  top: 0.5rem;
  right: 45px;
  outline: none;
  background-color: transparent !important;
}

.settings {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  top: 0.5rem;
  right: 45px;
  outline: none;
}

.expand {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  top: 0.5rem;
  right: 45px;
  outline: none;
}

.logout svg,
.settings svg,
.menu svg {
  width: 100%;
  height: 100%;
}

.expand-wrapped {
  position: absolute;
  display: flex;
  top: 8px;
  right: 0;
  overflow: visible;
}

.expand-wrapped-unlocked {
  right: 40px;
}

.tooltipWrapper {
  position: relative;
  overflow: visible;
}
