header {
  position: relative;
}

.backButton {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  position: absolute;
  top: 0.5rem;
  left: 2.875rem;
}

.logout {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.logoContainer {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  line-height: 60px;
  width: 205px;
}

.logoContainer .logo {
  width: 64px;
  margin: 0;
}

.logoContainer .mojitoLettering {
  font-size: 2.5rem;
  color: rgb(var(--color-black));
}
