header {
  position: relative;
}

.backButton {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  position: absolute;
  top: 0.5rem;
  left: 0;
}

.backButton svg {
  width: 100%;
  height: 100%;
}

.logout {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.settings {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  /* position: absolute; */
  top: 0.5rem;
  right: 45px;
  outline: none;
}

.expand {
  height: 40px;
  width: 40px;
  padding: 0.2rem;
  /* position: absolute; */
  top: 0.5rem;
  right: 45px;
  outline: none;
}

.logout svg,
.settings svg {
  width: 100%;
  height: 100%;
}

.expand-wrapped {
  position: absolute;
  display: flex;
  top: 0.5rem;
  right: 0;
  overflow: visible;
}

.expand-wrapped-unlocked {
  right: 40px;
}

.tooltipWrapper {
  position: relative;
  overflow: visible;
}
