.words-list-description {
  font-size: var(--font-size-medium);
  color: rgb(var(--color-dark-gray));
  margin-bottom: 20px;
}

.words-list-description:nth-child(2) {
  font-size: var(--font-size-medium);
  color: rgb(var(--color-black));
  font-weight: 600;
  margin: 0;
}
