.walletHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: max-content;
  padding: 5px;
}

.logo {
  flex-shrink: 0;
  width: 72px;
  height: 72px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.name {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
  color: var(--be-text-0);

  @media screen and (min-width: 901px) {
    font-size: 1.4rem;
  }
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--be-text-2);
}

.changePositive {
  color: var(--be-green);
  font-weight: 600;
}

.changeNegative {
  color: var(--be-red);
  font-weight: 600;
}

@media screen and (min-width: 901px) {
}
