.descriptionList {
  margin-top: 1.2rem;
}

dt {
  font-size: 1.5rem;
  font-weight: 300;
}

dd {
  font-weight: 300;
  margin-bottom: 1.1rem;
  line-break: anywhere;
}

dd,
dd > strong {
  font-size: 1.5rem;
}

dd:nth-child(2) > strong {
  font-size: 1.25rem;
}

dd > strong {
  font-weight: bold;
  margin-right: 0.3rem;
}

dd span {
  font-weight: 300;
  margin-left: 0.4rem;
}

dd span > strong {
  font-weight: bold;
  margin-right: 0.3rem;
}

dd span,
dd span * {
  font-size: 1.12rem;
}

.pool-note-message {
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(var(--color-red));
}
