.list {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-sm);
  overflow: auto;
  flex-grow: 1;
  list-style: none;
}

.empty {
  background: var(--be-bg-1);
  font-size: var(--font-size-lg);
  color: var(--be-text-2);
  list-style: none;
  text-align: center;
  padding: var(--space-4xl) var(--space-2xl);
  border-radius: 20px;
  border: 1px solid var(--be-line-soft);
}
