.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px;
  overflow: auto;
  flex-grow: 1;
  list-style: none;
}

.empty {
  background: rgb(var(--color-white));
  font-size: 1rem;
  color: rgb(var(--color-dark-gray));
  list-style: none;
  text-align: center;
  padding: 2rem 1.5rem;
  border-radius: 20px;
  border: 1px solid rgb(var(--color-medium-gray));
}
