* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  font-size: var(--default-font-size);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 600px;
  width: 450px;
}

.center-text {
  text-align: center;
}

.center-container {
  margin-left: auto;
  margin-right: auto;
}