.crypto-list {
  height: 240px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 7px;

  @media screen and (min-width: 801px) {
    padding: 10px;
    flex-grow: 1;
  }
}

.crypto-item {
  display: flex;
  justify-content: space-between;
  padding: 12px 30px 12px 18px;
  margin-bottom: 0.75rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgb(var(--color-gray));
  border: 1px solid rgba(var(--color-light-green), 0.2);
  border-radius: 45px;
}

.logo-wrapper {
  display: flex;
}

.crypto-item:last-child {
  margin-bottom: 0; /* Remove margin for the last item */
}

.crypto-item .name-values {
  width: 393px;
  margin: 0.3rem 0 0.3rem 1.875rem;
}

.crypto-item .name-values h5 {
  font-size: 1.5rem;
  font-weight: bold;
}

.crypto-item.add-item h5 {
  margin-top: 0.85rem;
}

.crypto-item.add-item.disabled {
  cursor: default;
}

.crypto-item.add-item.disabled:hover {
  transform: scale(1);
}

.connect-message {
  background: rgb(var(--color-green));
  border-radius: 20px;
  color: rgb(var(--color-white));
  font-size: 1.125rem;
  font-weight: 600;
  height: 2.125rem;
  margin: 0.85rem 0;
  padding: 0.375rem 0.8rem;
  text-align: center;
  width: 158px;
}

.crypto-item .name-values .values dl {
  display: flex;
  align-items: center;
}

.crypto-item .name-values .values dt,
.crypto-item .name-values .values dd {
  font-size: 1.125rem;
  display: block;
}

.crypto-item .name-values .values.big-values dt,
.crypto-item .name-values .values.big-values dd {
  font-size: 0.94rem;
}

.crypto-item .name-values .values dt {
  font-weight: thin;
  margin: 0 1rem;
}

.crypto-item .name-values .values dd {
  font-weight: 600;
  line-height: 2.3rem;
  margin-bottom: auto;
}

.crypto-item svg {
  height: 72px;
  width: 72px;
}

.crypto-item .connect-logo {
  background: rgb(var(--color-green));
  border-radius: 50%;
  height: 72px;
  width: 72px;
}

.crypto-item .connect-logo img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.show-address-text {
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 600;
}

.crypto-item:hover {
  transform: scale(1.02);
  border: 1px solid rgba(var(--color-light-green), 0.5);
}
