.highest-balance {
  text-align: center;
  margin-top: 0.5rem;
}

.stats-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.stats-list ul {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.stat-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
  padding: 7px 12px;
  min-width: max-content;
}

.stat-item.stats-positive {
  background: rgb(var(--color-light-green), 0.1);
}

.stat-item.stats-negative {
  background: rgb(var(--color-red), 0.1);
}

.stat-item dt {
  font-weight: 600;
  font-size: 1.5rem;
}

.stat-item dd {
  font-weight: thin;
  font-size: 1.125rem;
  margin: 0;
}

.stats-positive dt {
  color: rgb(var(--color-light-green));
}

.stats-negative dt {
  color: rgb(var(--color-red));
}

.stats-list .stat-unit {
  font-size: 1rem;
}
