.crypto-stats {
  display: flex;
  flex-direction: column;
  width: 153px;
}

.crypto-stats .crypto-stats-numbers {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  height: 30px;
}

.crypto-stats .crypto-stats-numbers > * {
  display: block;
}
.crypto-stats .crypto-stats-numbers > .negative {
  color: rgb(var(--color-red));
}

.crypto-stats .crypto-stats-numbers > .positive {
  color: rgb(var(--color-green));
}

.crypto-stats .crypto-stats-numbers > strong {
  font-size: 1.5rem;
  font-weight: 600;
}

.crypto-stats .crypto-stats-numbers > span {
  font-size: 1.125rem;
  font-weight: light;
}

.crypto-stats svg {
  width: 100%;
  height: 40px;
}
