.fee-field-wrapper {
  width: 100%;
}

.fee-field {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

.fee-input-wrapper {
  position: relative;
  width: 100%;
  margin-right: 0.5rem;
}

.fee-input-wrapper.ml {
  width: 200%;
}

.fee-input-wrapper > *:nth-child(1) {
  padding-right: 10px;
}

.fee-field small {
  position: absolute;
  top: 50%;
  right: 15px;
  font-weight: bold;
  font-size: 1.5rem;
  transform: translateY(-50%);
}

.fee-field-wrapper p {
  margin: 0.5rem 0 0 1.85rem;
  font-weight: bold;
}
