.fee-field-wrapper {
  width: 100%;
}

.fee-field {
  display: flex;
  flex-direction:row;
  width: 100%;
  position: relative;
}

.fee-field > *:nth-child(1) {
  margin-right: 0.5rem;
  padding-right: 100px;
}

.fee-field small {
  position: absolute;
  top: 50%;
  left: 240px;
  font-weight: bold;
  font-size: 1.5rem;
  transform: translateY(-50%);
}

.fee-field-wrapper p {
  margin: 0.5rem 0 0 1.85rem;
  font-weight: bold;
}