.v-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;

  @media screen and (min-width: 801px) {
    max-height: 100%;
  }
}

.v-group.fullWidth {
  width: 100%;
}

.v-group.bigGap {
  gap: 2.75em;
}

.v-group.midGap {
  gap: 1.75em;
}

.v-group.smallGap {
  gap: 0.4em;
}

.v-group.grow {
  flex-grow: 1;
}

.v-group.center {
  align-items: center;
}
