.qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.press:active {
  position: relative;
  top: 1px;
  background-color: rgb(var(--color-dark-gray));
}

.show-unused {
  cursor: pointer;
  background: rgb(var(--color-main-green));
  padding: 2px 5px;
  border-radius: 5px;
  color: rgb(var(--color-white));
}

.used-address {
  color: rgb(var(--color-dark-gray));
}

.unused-address {
  color: rgb(var(--color-green));
  font-weight: bold;
}
