.transaction {
  display: flex;
  align-items: center;
  padding: 12px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgb(var(--color-gray));
  border: 1px solid rgba(var(--color-light-green), 0.2);
  word-break: break-all;
  cursor: pointer;
  position: relative;
}

.transaction-logo-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  min-width: 72px;
  height: 72px;
  background: rgb(var(--color-dim-green));
  border-radius: 50%;
  position: relative;
  z-index: 5;
}

.transaction-logo-type-info {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  background: rgb(var(--color-dark-gray));
}

.transaction-logo-type.transaction-logo-type-widthdrawal {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  background: rgb(var(--color-dark-gray));
}

.transaction-logo-type.transaction-logo-type-same {
  position: absolute;
  z-index: 10;
  left: 30px;
  background: rgb(var(--color-dark-gray));
}

.transaction-logo-type.transaction-logo-type-same .loop-icon {
  transform: rotate(90deg);
  width: 45px;
  height: 45px;
}

.transaction-logo-type.transaction-logo-type-same .loop-icon path {
  stroke: rgb(var(--color-white)) !important;
}

.transaction-detail {
  margin-left: 30px;
  flex-grow: 1;
}

.transaction-logo-type.transaction-logo-out {
  background: rgb(var(--color-dim-corail));
}

.transaction-logo-type.transaction-logo-type-stake {
  background: rgb(var(--color-dim-blue));
}

.transaction-logo-type.transaction-logo-type-delegate {
  background: rgb(var(--color-dim-purple));
}

.transaction-logo-type.transaction-logo-type-unconfirmed {
  background: rgb(var(--color-dim-yellow));
}

.arrow-icon {
  width: 30px;
  height: 36px;
}

.arrow-icon-stake {
  width: 30px;
  height: 36px;
  margin-left: -7px;
}

.stake-icon {
  width: 35px;
  height: 35px;
}

.unconfirmed-icon {
  width: 34px;
  height: 40px;
  color: #fff;
}

.delegation-icon {
  width: 40px;
  height: 40px;
  margin-left: 5px;
  margin-top: -5px;
  color: #fff;
}

.arrow-icon-out {
  transform: rotate(180deg);
}

.transaction-date-amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transaction-id-info {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  word-break: break-word;
}

.transaction-id {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 10px;
  word-break: break-all;
}

.transaction-date,
.transaction-amount {
  font-size: 1.2rem;
  font-weight: 400;
}

.transaction-date span,
.transaction-amount span {
  font-weight: 600;
}

.transaction:hover {
  transform: scale(1.02);
  border: 1px solid rgba(var(--color-light-green), 0.5);
}
