.transaction-item span {
  font-size: 13px;
  color: rgb(var(--color-lightest-blue));
}

.button-transaction,
.button-transaction-up,
.button-transaction-staking {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0;
}

.transaction-buttons-wrapper {
  display: flex;
}

.transaction-item {
  display: flex;
  width: fit-content;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @media screen and (min-width: 801px) {
    min-width: 70px;
    max-width: 75px;
  }
}

.transaction-item:hover .transaction-button-title {
  color: rgb(var(--color-white));
}

.transaction-item:not(:last-child) {
  margin-right: 12px;
}

.button-transaction-up svg {
  transform: rotate(180deg);
}

.icon-arrow {
  width: 26px;
  height: 26px;
}

.staking-icon {
  width: 36px;
  height: 36px;
}
