.transaction-item span {
  font-size: 13px;
  color: rgb(var(--color-lightest-blue));
}

.button-transaction,
.button-transaction-up,
.button-transaction-staking {
  width: 58px;
  height: 58px;
  min-width: 58px;
  min-height: 58px;
  margin-bottom: 10px;
  border-radius: 21px;
  padding: 0;

  @media screen and (min-width: 801px) {
    width: 64px;
    height: 64px;
    min-width: 64px;
    min-height: 64px;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 25px;
  }
}

.transaction-buttons-wrapper {
  display: flex;
}

.transaction-item {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
}

.transaction-item:hover .transaction-button-title {
  color: rgb(var(--color-white));
}

.transaction-item:not(:last-child) {
  margin-right: 5px;

  @media screen and (min-width: 801px) {
    margin-right: 15px;
  }
}

.button-transaction-up svg {
  transform: rotate(180deg);
}

.icon-arrow {
  width: 37px;
  height: 37px;
}

.staking-icon {
  width: 36px;
  height: 36px;
}

.sign-icon {
  width: 36px;
  height: 36px;
}

.swap-icon {
  width: 36px;
  height: 36px;
}
