.crypto-fiat-field {
  position: relative;
  display: flex;
  padding-bottom: 37px;
  width: 100%;
}

.crypto-fiat-field-label {
  display: flex;
  width: 7.5rem;
  font-size: 1.5rem;
  justify-content: flex-start;
  align-items: center;
  word-break: break-all;
}

.fiat-field-input {
  position: relative;
  flex-grow: 1;
  margin-right: 10px;
}

.crypto-fiat-bottom-text {
  position: absolute;
  bottom: 8px;
  left: 1.85rem;
  font-size: 18px;
  font-weight: 600;
}

.crypto-fiat-input {
  width: 100%;
}

.crypto-fiat-input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
}

.crypto-fiat-input-button.outline {
  background: transparent;
  border: 1px solid black;
  color: black;
}

.crypto-fiat-switch-button {
  position: absolute;
  top: 18px;
  right: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.crypto-fiat-icon {
  height: 30px;
  width: auto;
  margin-left: -5px;
}

.crypto-fiat-icon-reverse {
  height: 30px;
  width: auto;
  transform: rotate(180deg);
}

.crypto-fiat-icon path,
.crypto-fiat-icon-reverse path {
  fill: black;
}

.current-value-type {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 5px;
}
