.message-title,
.message-description {
  text-align: center;
}

.message-submit-button-wrapper {
  display: flex;
  justify-content: center;
}

.message-password {
  display: flex;
  justify-content: center;
}

.message-password input {
  width: 510px;
}

.message-submit {
  width: 510px;
}

.message-password-field {
  width: 510px;
}

.message-button-final {
  display: flex;
  gap: 10px;
}
