.wallet-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: fadeInWallet 0.3s ease-in-out;
}

@keyframes fadeInWallet {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.transactions-buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-width: 100%;
  min-height: max-content;
  margin: 15px 0 20px;
  gap: 6px;
  flex-wrap: wrap;
}

.balance-transactions-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: max-content;
}

/* Firefox-specific styles */
@-moz-document url-prefix() {
  .balance-transactions-wrapper {
    min-height: 105px;
  }

  .transactions-buttons-wrapper {
    min-height: 84px;
  }
}
