.wallet-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.transactions-buttons-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: max-content;
  align-items: flex-end;
  max-width: 100%;
  min-height: max-content;
}

.balance-transactions-wrapper {
  display: flex;
  justify-content: space-between;
  min-height: max-content;
}
