.transactions-buttons-wrapper {
  position: relative;
  display: flex;
  min-width: max-content;
  align-items: flex-end;
}

.balance-transactions-wrapper {
  display: flex;
  justify-content: space-between;
}
