.createAccountPage {
  background: rgb(var(--color-white));
}

.loadingText {
  margin-bottom: 60px;
  font-size: var(--font-size-4xl);
  font-weight: 400;
  text-align: center;
}

.loadingText ~ div {
  margin: 0 auto;
}

.creatingLoadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loadingBig {
  width: 190px;
  height: 190px;
}

.loadingBig::after {
  width: 160px;
  height: 160px;
  border: 15px solid #fff;
  border-color: rgb(var(--color-main-green)) transparent rgb(var(--color-black))
    transparent;
}
