.account-password {
  margin-top: 2.5rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.password-for {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(var(--color-black));
  text-transform: capitalize;
  text-align: center;
}

.account-name {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(var(--color-black));
  text-transform: capitalize;
  text-align: center;
}

.footer {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}
