* {
  box-sizing: border-box;
  color: var(--color-black);
  font-family: 'Montserrat', sans-serif;
  font-size: var(--default-font-size);
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}

html {
  background: radial-gradient(
      50% 50% at 20% 30%,
      rgba(105, 238, 150, 0.4) 0%,
      rgba(145, 155, 200, 0.4) 59%,
      rgba(195, 192, 225, 0) 100%
    ),
    radial-gradient(
      50% 50% at 80% 70%,
      rgba(105, 238, 150, 0.4) 0%,
      rgba(158, 188, 207, 0.4) 59%,
      rgba(195, 192, 225, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(105, 238, 150, 0.4) 0%,
      rgba(145, 155, 200, 0.4) 59%,
      rgba(195, 192, 225, 0) 100%
    ),
    radial-gradient(
      50% 50% at 30% 80%,
      rgba(105, 238, 150, 0.4) 0%,
      rgba(181, 139, 201, 0.4) 59%,
      rgba(195, 192, 225, 0) 100%
    ),
    radial-gradient(
      50% 50% at 70% 20%,
      rgba(105, 238, 150, 0.4) 0%,
      rgba(145, 155, 200, 0.4) 59%,
      rgba(195, 192, 225, 0) 100%
    ),
    rgb(225, 225, 245);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 600px;
  width: 800px;
  background: rgb(var(--color-white));

  @media screen and (min-width: 801px) {
    height: auto;
  }
}

#root {
  height: 100%;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 600px;
  padding: 2rem 2.875rem;

  @media screen and (min-width: 801px) {
    height: 100%;
  }
}

.center-text {
  text-align: center;
}

.center-container {
  margin-left: auto;
  margin-right: auto;
}

.title-create {
  font-size: 24px;
  font-weight: 400;
  margin: 4rem 0 4rem 0;
}

.footnote-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.footnote-name {
  font-size: 18px;
}

.footnote-link {
  font-size: 18px;
  font-weight: bold;
  color: rgb(var(--color-green));
  text-decoration: none;
}

@media screen and (min-width: 801px) {
  body {
    border-radius: 30px;
    width: 90vh;
  }
}
