.locked-table {
  width: 100%;
}

.locked-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 465px;
  overflow: auto;
}

.locked-title {
  text-align: left;
  padding: 14px 24px;
  background: rgba(var(--color-green), 0.8);
  width: 50%;
  color: rgb(var(--color-black));
}

.locked-title:nth-child(1) {
  border-top-left-radius: var(--round-size);
}

.locked-title:nth-child(2) {
  border-top-right-radius: var(--round-size);
}

.locked-loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 465px;
}
