.list-accounts {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
}
.subtitle {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: bold;
  color: rgb(var(--color-dark-gray));
  text-transform: capitalize;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
