.number {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  background: rgb(var(--color-extra-light-gray));
  color: rgb(var(--color-balck));
  font-weight: 600;
  font-size: 14px;
  border-radius: 50%;
}

.number-active {
  background: rgb(var(--color-main-green));
  color: rgb(var(--color-white));
}

.number-finished {
  background: rgb(var(--color-black));
  color: rgb(var(--color-white));
}

.number-invalid {
  background: rgb(var(--color-red));
  color: rgb(var(--color-white));
}

.words-list-input {
  max-width: 230px;
  padding: 0.85rem;
  text-align: center;
  background: rgb(var(--color-extra-light-gray));
  font-size: 20px;
}

.words-list-input-restore {
  padding: 1rem 1rem 1rem 3.4rem;
  background: transparent;
  /* border: 1px solid rgb(var(--color-light-gray)); */
  /* border-style: dashed; */
}

.input-restore-finished {
  background: rgb(var(--color-extra-light-gray));
  border: 2px solid rgb(var(--color-extra-light-gray));
}

.words-list-input:focus ~ .number,
.words-list-input.readonly ~ .number {
  color: rgb(var(--color-white));
  background: rgb(var(--color-main-green));
}

.words-list-input::placeholder {
  color: rgba(var(--color-white), 0.9);
}

.words-list-input.readonly {
  border: 1px solid rgb(var(--color-medium-blue));
}
