.inputs-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: auto;
}

.inputs-list-restore {
  height: 19rem;
}

.list-item {
  position: relative;
  margin-bottom: 9px;
}
