.textarea {
  width: 100%;
  padding: 15px;
  resize: none;
  border: 1px solid rgb(var(--color-light-gray));
  border-radius: var(--round-size);
}

.textarea-invalid {
  border-bottom: 2px solid rgb(var(--color-red));
}

.textarea-valid {
  border-bottom: 2px solid rgb(var(--color-main-green));
}
