.textarea {
  width: 100%;
  padding: 15px;
  resize: none;
}

.textaria-invalid {
  border-bottom: 2px solid rgb(var(--color-red));
}

.textaria-valid {
  border-bottom: 2px solid rgb(var(--color-green));
}
