.btn {
  background-color: rgb(var(--color-green));
  border: none;
  border-radius: var(--round-size);
  color: rgb(var(--color-white));
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 1;
  padding: 1.8rem 0;
  transition: opacity 0.25s ease-in-out;
  width: 100%;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

.btn.alternate {
  background-color: rgb(var(--color-white));
  border: 2px solid transparent;
  color: rgb(var(--color-black));
  transition: opacity 0.25s ease-in-out, border 0.25s ease-in-out;
}

.btn.alternate:hover,
.btn.alternate:focus {
  border: 2px solid rgba(var(--color-green), var(--nearly-transparent-alpha));
}