.input {
  border: 1px solid rgb(var(--color-light-gray));
  border-radius: var(--round-size);
  color: rgb(var(--color-dark-gray));
  font-size: 1.5rem;
  outline: none;
  padding: 1.812rem 1.6875rem;
  transition: border 0.25s ease-in-out;
}

.input:hover,
.input:focus {
  border: 1px solid rgb(var(--color-dark-gray));
}

.input::placeholder {
  color: rgb(var(--color-dark-gray));
  font-size: 1.5rem;
}

.input.invalid {
  border-bottom: 2px solid rgb(var(--color-red));
}

.input.valid {
  border-bottom: 2px solid rgb(var(--color-green));
}

.words-list-input {
  max-width: 230px;
  padding: 0.85rem;
  text-align: center;
  background: rgb(var(--color-light-green));
  border: 2px solid rgb(var(--color-light-green));
}

.words-list-input-restore {
  padding: 1.2rem 1rem 1.2rem  3.4rem;
  background: transparent;
  border: 2px solid rgb(var(--color-light-gray));
}

.words-list-input:hover,
.words-list-input:focus {
  border: 2px solid rgb(var(--color-dark-gray));
}

.words-list-input-finished {
  background: red;
}