.tooltip {
  position: absolute;
  text-align: center;
  height: 50px;
  padding: 5px 15px;
  font: 12px sans-serif;
  background: rgb(var(--color-extra-light-gray));
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}
